* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;

}

.header1 {
    background-image: url("../img/img3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header2 {
    width: 100%;
    height: 100vh;
    background-image: url("../img/img3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header3 {
    width: 100%;
    height: 100vh;
    background-image: url("../img/img3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;

}

.navbar2 {
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(131, 110, 73);
    color: black;
    top: 0;
}

.unorder {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right: 20px;
}

.unorder li {
    margin-right: 25px;
    color: rgb(245, 234, 234);
    font-size: 18px;


}

.unorder li a {
    text-decoration: none;
    color: white;
    opacity: 0.9;

}

.unorder li a:hover {
    color: rgb(221, 183, 123);

}

.unorder .gelr .scrol {
    width: 200px;
    height: 250px;
}

.scrol {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    position: absolute;
    top: 63px;
    height: 200px !important;
    right: 50px;
    width: 180px !important;
    background-color: rgb(131, 110, 73);
    gap: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;


}

.scrol li {
    margin-top: 20px;
}

.scrol2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    height: 150px;
    width: 170px;
    background-color: #63635f;
    margin-top: 80px;
    list-style-type: none;

}

.scrol2 li {
    list-style-type: none;
}

.scrol2 li::before {
    content: "";
    position: absolute;
    left: -17px;
    right: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    border-left: 1px solid transparent;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    box-sizing: border-box;
    rotate: 45deg;
}

.scrol .scrol-li {
    margin: 5px 20px;
    list-style-type: none;
}

.scroler {
    display: none;

}

.gelr {
    transition: 0.5s;

}

/* .space{
    
} */
/* .nextt{
    position: relative;
   
} */
.nexter2 {
    margin-left: 50px;
    color: black;
    font-size: 25px !important;


}

/* .gelr:hover .scrol{
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly ;
    height: 150px;
    width: 170px;
    background-color: #63635f;
    margin-bottom: 20px;

} */
.gelr:hover .scrol .scrol-li li {
    margin: 15px 0px;
    border-radius: 10px;
}

.navbar .bakery {
    margin-left: 50px;
    width: 170px;
    height: 50px;
    cursor: pointer;
}

.navbar2 .bakery {
    margin-left: 50px;
    width: 170px;
    height: 50px;
}

.head-scrol {
    background-color: rgb(131, 110, 73);
    color: black;
}

.visible-onMobile {
    display: none;
}

.visible-onMobile i {
    font-size: 2rem;
}

.ul-onMbile {
    width: 30vw;
    display: none;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    transition: 1s all ease-in-out;
    list-style-type: none;
    position: absolute;
    top: 50px;
    right: 0px;
    border-radius: 20px 0 0 20px;
    gap: 10px;
    background-color: rgb(131, 110, 73);
    color: black !important;


}

.ul-onMbile li a {
    color: #000000;

}

.ul-onMbile li {
    margin-left: 20px;
    margin-top: 15px;
    transition: 1s all ease-in-out;
    list-style-type: none;
}

.lk-li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    width: 200px;
    margin-left: 20px;
    transition: 1s all ease-in-out;
    list-style-type: none;
}

.hide-des {
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 200px;
    padding-bottom: 5px;
}

/* .visible-onMobile i:hover .ul-onMbile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
} */
.hero {

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}

.hero .ch1 {
    margin-top: 150px;
}

.hero .ch1 h1 {
    font-size: 70px;
    height: 75px;
    margin-bottom: 30px;
    font-weight: inherit;
}

.hero .ch1 h3 {
    font-size: 25px;
    font-weight: inherit;
}

.hero .ch1 p {
    width: 90%;
    font-size: 22px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
    font-weight: inherit;

}

.hero .ch1 {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.hero .buton {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero button {
    height: 55px;
    width: 125px;
    margin: 0px 0 50px 10px;
    background: none;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    font-weight: inherit;
    font-size: 16px;


}

.hero button:hover {
    background-color: white;
    color: #000000;
}

.hero .buton :first-child {
    background-color: rgb(131, 110, 73);
    border: 1px solid rgb(131, 110, 73);

}

.hero .buton :first-child:hover {
    background-color: white;
    color: #000000;
    border: 1px solid white;
}

.hero .rectangle {
    width: 32px;
    height: 50px;
    border: 2px solid white;
    background-image: none;
    border-radius: 22px;
    margin: 0 auto;
    color: white;
    opacity: 0.8;
    margin-bottom: 20px;


}

.hero .rectangle .animation {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0px auto;
    animation-name: cir;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: 2;
    opacity: 0.1;
}

@keyframes cir {
    from {
        translate: 0 0;
        opacity: 0.6;
    }

    to {
        translate: 0 20px;
        opacity: 0.1;
    }

}

.sec1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap !important;
}

.sec1 .son1 {
    width: 42%;
    margin-right: 20px;
    margin-left: 20px;

}

.sec1 .son2 {
    width: 48%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 60px;

}

.sec1 .son2 h2 {
    opacity: 0.8;
    font-size: 30px;
    font-weight: inherit;
    margin-top: 20px;
}

.sec1 .son2 p {
    opacity: 0.7;
    font-size: 19px;
    margin-bottom: 20px;

}

.sec1 ul {
    list-style-type: none;
}

.sec1 .ul-list li {
    font-size: 19px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.sec1 .ul-list i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 12px 10px;
    text-align: center;
}

.sec11 {
    padding: 60px 0;
}

.son11 {
    width: 48%;
    /* height:320px ; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.son11 h2 {
    opacity: 0.8;
    font-size: 32px;
    height: 50px;
    font-weight: inherit;
}

.son11 p {

    width: 100%;
    line-height: 28px;
    opacity: 0.7;
    /* height: 160px; */
    font-size: 18px;
    margin: 10px 0;
}

.sec1 .map {
    width: 42%;
    height: 500px;
}

.sec1 .son2 h2 {
    margin-bottom: 20px;
}

.sec2 {
    width: 100%;
}

.sec2 h2 {
    width: 200px;
    height: 50px;
    margin: 100px auto 0 auto;
    opacity: 0.8;
    font-size: 28px;
    font-weight: inherit;
}

.sec2 p {
    margin: 15px auto 60px auto;
    opacity: 0.7;
    width: 600px;
    height: 50px;
}

.sec2 .imges {
    margin-top: -30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sec2 .imges img {
    width: 380px;
    height: 300px;
}

.sec2 .imges p {
    opacity: 0.7;
    height: 200px;
    width: 380px;
    text-align: center;
    font-size: 18px;

}

.sec2 .imges .card h2 {
    width: max-content;
    height: 20px;
    opacity: 0.8;
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 25px;
    font-weight: inherit;
}

.sec2 .imges .card {
    width: 380px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.par {
    margin-bottom: 20px;
    line-height: 28px;
}

.sec4 {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    background-color: #41403d;
    color: white;
    padding: 50px 0;
}

.sec4 .part {
    width: 290px;
    /* height: 350px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    opacity: 0.8 !important;
    font-size: 18px;

}

/* .sec4 .part:nth-child(4){
    height: 320px;
   margin-bottom: 20px;
} no */
.sec4 .part:nth-child(4) .ul-list li {
    margin-bottom: 18px !important;
}

.sec4 .part:nth-child(4) li {
    opacity: 0.8 !important;
}

.sec4 .part:nth-child(2) h2 {
    margin-left: -10px;
    /* margin-top: 2px; */
}

.sec4 .part:nth-child(3) {
    /* margin-top: 21px; */
    margin-left: -10px;
}

.sec4 .part h2 {
    margin-bottom: 20px;
    font-size: 20px !important;
    font-weight: lighter;
}

.sec4 .part p {
    width: 280px;
    opacity: 0.7;
    padding-bottom: 15px;
    line-height: 30px;

}

.sec4 .part .ul-list {
    margin-bottom: 20px;
}

.sec4 .part .ul-list li {
    margin-bottom: 25px;
    list-style-type: none;
    padding-bottom: 15px;
    text-decoration: none;



}

.sec4 .part .ul-list i {
    margin-right: 10px;

}

.sec4 .border {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.4);
}

/* .sec4 .part .hed2{
    margin-top: -15px;
    margin-bottom: -15px;
    
} */
.sec4 .div2 p, .sec4 .div3 p {
    position: relative;
}

/* .sec4 .div3 :nth-child(2){
    margin-top: 13px !important;
} */
.sec4 .div2 p::before {
    content: "";
    position: absolute;
    display: block;
    left: -17px;
    top: 10px;
    width: 10px;
    height: 10px;
    border-left: 1px solid transparent;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    box-sizing: border-box;
    rotate: 45deg;
}

/* .sec4 .div2 p::before:hover{
  
    border-top:1px solid #8e7754 ;
    border-right:1px solid #8e7754;
} */
.sec4 .div3 p::before {
    content: "";
    position: absolute;
    display: block;
    left: -17px;
    right: 0;
    top: 10px;
    width: 10px;
    height: 10px;
    border-left: 1px solid transparent;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    box-sizing: border-box;
    rotate: 45deg;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #353330;
    color: #9e9d9d;
}

footer .foot2 {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer .foot2 p {
    margin-top: 20px;
}

footer img {
    width: 350px;
    height: 100px;
    margin-top: 10px;
}

footer .icons {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #353330;
    background-color: #41403d;
    padding: 9px 10px;
    text-align: center;
    margin-left: 7px;
    margin-bottom: 20px;
    color: #63635f;
}

footer .icons a i {
    color: #63635f;
}

footer .icons a:hover:nth-child(1) {
    background-color: #161777;
    color: white;
}

footer .icons a:hover:nth-child(2) {
    background-color: red;
    color: white;
}

footer .icons a:hover:nth-child(3) {
    background-color: rgb(31, 110, 230);
    color: white;
}

footer .icons a:hover:nth-child(4) {
    background-color: rgb(33, 142, 231);
    color: white;
}

@media(min-width: 993px) and (max-width: 1200px) {
    .sec4 .part {
        width: 220px;
        font-size: 17px !important;
    }

    .sec4 .part p {
        width: 210px;
    }

    .sec4 .part .ul-list {
        width: 210px;
    }
}

@media(min-width: 993px) and (max-width: 1046px) {
    .sec1 .son2 {
        margin-left: 0;
    }


}

@media(min-width: 769px) and (max-width: 992px) {
    .hide-onMobile {
        display: none;

    }

    .visible-onMobile {
        display: block;
    }

    .visible-onMobile i:hover+.hide-onMobile {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        top: 50px;
        background-color: rgba(128, 128, 128, 0.4);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        z-index: 2;
    }

    .navbar .bakery {
        margin-left: 15px;
    }

    .sec4 .part {
        width: 190px;
        font-size: 16px !important;
    }

    .sec4 .part:nth-child(1) p {
        width: 160px;
    }

    .sec4 .part p, .sec4 .part .ul-list {
        width: 160px;
    }

    .sec1 .son1 {
        width: 80%;
    }

    .sec1 .son2 {
        width: 80%;
        margin-left: 0;
    }

    .son11 {
        width: 80%;
    }

    .sec1 .map {
        width: 80%;
    }

    .sec5 div {
        width: 200px !important;
    }

    .s-son2 div {
        width: 300px !important;
    }
}

@media (max-width: 768px) {
    .hide-onMobile {
        display: none;

    }

    .visible-onMobile {
        display: block;
    }

    .unorder {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

    }

    .navbar .bakery {
        margin-left: 15px;
    }

    .hero .ch1 h1 {
        font-size: 30px;
    }

    .hero .ch1 p {
        font-size: 20px;
    }

    .sec1 .son2 p {
        margin-bottom: 30px;
    }

    .sec4 {
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }



    .sec4 .part {
        width: 90%;
    }

    .sec4 .part p {
        width: 100%;
    }

    .sec4 .div2, .sec4 .div3 {
        margin-left: 20px;
    }

    .sec4 .part:nth-child(3) {
        margin-left: 20px;
    }

    .sec4 .div3 p::before {
        left: -17px;

    }

    .sec4 .div2 p::before {
        left: -17px;

    }

    .sec2 p {
        width: 95% !important;
        text-align: center;
    }

    .sec2 .imges .card {
        width: 300px;
    }

    .sec2 .imges p {
        height: 100px;
    }

    .sec2 .imges img {
        width: 300px;

    }

    .sec1 .son1 {
        width: 80%;
    }

    .sec1 .son2 {
        width: 80%;
        margin-left: 0;
    }

    .son11 {
        width: 80%;
    }

    .sec1 .map {
        width: 80%;
    }

    footer img {
        width: 300px;
    }


    .s-son2 div {
        width: 80% !important;
    }

}

@media (min-width:993) and (max-width: 1017px) {
    .sec5 div {
        width: 400px;
    }

}